<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{% if page.layout == 'post' %}{{page.title}} | {% endif %}{{site.title}}</title>

<meta name="description" content="{% if page.layout == 'post' %}{{page.intro}}{% else %}{{site.description}}{% endif %}">
<meta name="keywords" content="kristof, dewilde, krivi, qrivi, full, stack, fullstack, java, javascript, developer{% if page.layout == 'post' %}{% for tag in page.tags %}, {{tag}}{% endfor %}{% endif %}">

<meta itemprop="name" content="{% if page.layout == 'post' %}{{page.title}}{% else %}{{site.title}}{% endif %}">
<meta itemprop="description" content="{% if page.layout == 'post' %}{{page.intro}}{% else %}{{site.description}}{% endif %}">
<meta itemprop="image" content="{{site.url}}/{{page.banner | default: 'assets/images/icon_social.png'}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.layout == 'post' %}{{page.title}}{% else %}{{site.title}}{% endif %}">
<meta name="twitter:description" content="{% if page.layout == 'post' %}{{page.intro}}{% else %}{{site.description}}{% endif %}">
<meta name="twitter:image" content="{{site.url}}/{{page.banner | default: 'assets/images/icon_social.png'}}">

<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.layout == 'post' %}{{page.title}}{% else %}{{site.title}}{% endif %}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:image" content="{{site.url}}/{{page.banner | default: 'assets/images/icon_social.png'}}">
<meta property="og:description" content="{% if page.layout == 'post' %}{{page.intro}}{% else %}{{site.description}}{% endif %}">
<meta property="og:site_name" content="{{site.title}}">
{% if page.layout == 'post' %}
<meta property="article:published_time" content="{{page.date | date: '%Y-%m-%d'}}">
<meta property="article:modified_time" content="{{page.date | date: '%Y-%m-%d' }}">
{% endif %}
