---
const {
  title = "Kristof Dewilde",
  description = "Full Stack Java Developer",
  tags = [],
  published = null,
  banner = "/icons/icon_social.png",
} = Astro.props;

const keywords = [
  ...tags,
  "kristof",
  "dewilde",
  "krivi",
  "qrivi",
  "full",
  "stack",
  "fullstack",
  "java",
  "javascript",
  "developer",
];
---

<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=no"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{title}</title>

<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<meta itemprop="name" content={title} />
<meta itemprop="description" content={description} />
<meta itemprop="image" content={banner} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={banner} />

<meta property="og:type" content="article" />
<meta property="og:title" content={title} />
<meta property="og:url" content={Astro.request.canonicalURL} />
<meta property="og:image" content={banner} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
{published &&
<meta property="article:published_time" content={published}>
}
{published &&
<meta property="article:modified_time" content={published}>
}

<meta
  name="google-site-verification"
  content="4h6Nqop-E-vlbdgRGU8jg4DrPcGB5bw6VQbyg9fa1Js"
/>

<meta name="theme-color" content="#fff" />
<meta name="msapplication-TileColor" content="#fff" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"
/>

<link rel="icon" type="image/png" href="/icons/icon_light.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/icon_apple_light.png"
/>
<link rel="mask-icon" href="/icons/icon_mask.svg" color="#030044" />

<link
  rel="stylesheet"
  media="screen"
  href={Astro.resolve("../styles/screen.scss")}
/>
<link
  rel="stylesheet"
  media="print"
  href={Astro.resolve("../styles/print.scss")}
/>
{published &&
<link rel="stylesheet" media="screen" href={Astro.resolve("../styles/post.scss")}>
}
