---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article style="{`background-image: url('/banners/${post.banner}')`}">
  <h3>{post.title}</h3>
  <time datetime="{post.published}">{post.published.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</time>
  <p>{post.description}</p>
  <ul>
    {post.tags.map(tag => <li><a>{tag}</a></li>)}
  </ul>
  <a href="{post.url}">Read more</a>
</article>

<style lang="scss">
  article {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    //border: solid 2px var(--accent);
    padding: 40px;
    margin-bottom: 25px;
    background-size: cover;

    &::before, &::after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &::before {
      background-color: var(--scene);
      opacity: .75;
    }

    &::after {
      background-color: var(--accent);
      opacity: 0;
      transition: opacity 250ms ease-out;
    }

    &:hover{
      &::after {
        opacity: .5;
      }

      li{
        color: var(--text);
      }
    }

    h3 {
      font: 600 1.6em/1.4em var(--font-regular);
      margin: 5px 0 25px;
    }

    time {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 0.8em;
      opacity: 0.5;
      order: -1;
    }

    p {
      opacity: .9;
    }

    li {
      display: inline;
      font-size: 0.7em;
      color: var(--accent);
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.75;
      }

      a {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 10px 0;

        &:before {
          content: "#";
        }
      }
    }

    > a {
      align-self: flex-end;
      background: var(--scene);
      padding: 10px 20px;
      border-radius: 10px;
      transition: color 250ms ease-out;

      &:hover {
        color: var(--accent);
      }
    }
  }
</style>
