---
const {
  post
} = Astro.props;
---

<article style="background-image: url('/banners/${post.banner}')">
  <a href="${post.url}"><h3>{post.title}</h3></a>
  <time datetime="{post.published}">{post.published.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</time>
  <p>{post.description}</p>
  <ul>
    {post.tags.map(tag => <li><a>{tag}</a></li>)}
  </ul>
  <span>{post.title.charAt(0)}</span>
</article>

<style lang="scss">
  article {
    box-sizing: unset;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    padding: 25px 35px;
    margin-bottom: 25px;
    background-size: cover;
    border: solid 1px var(--border);
    border-bottom-width: 8px;

    > * {
      position: relative;
      z-index: 1;
    }

    &:before, &:after{
      content: " ";
      position: absolute;
      position: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--fade);
    }

    &:after{
      background: var(--background);
      transition: opacity 250ms ease-out;
    }

    &:hover {
      &:after{
        opacity: 0;
      }

      a{
        color: var(--accent);
      }

      p {
        opacity: .9;
      }
    }

    a {
      transition: opacity 500ms 50ms, color 500ms 50ms;

      &:hover{
        opacity: .75;
      }
    }

    span {
      position: absolute;
      bottom: 60px;
      right: 0;
      font-size: 16em;
      color: rgba(0, 0, 0, .025);
    }

    h3 {
      font: 600 1.6em/1.4em var(--font-regular);
      margin: 5px 0;
    }

    time {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 0.8em;
      opacity: .5;
      order: -1;
    }

    p {
      opacity: .5;
      tansition: opacity 500ms 50ms;
    }

    li {
      display: inline;
      font-size: 0.7em;

      a {
        display: inline-block;
        margin: 0 10px 0 0;
        opacity: .5;

        &:before {
          content: "#";
        }
      }
    }
  }
</style>
