<section id="app-activity" aria-labelledby="app-activity-label">
  <h2 id="app-activity-label">
    Recent activity
  </h2>
  <ul>
    {% for post in site.posts %}
    <li class="summary" style="transition-delay: 0s;">
      <time datetime="{{ post.date }}">{{ post.date | date_to_string: "ordinal", "US"}}</time>
      <a href="{{ post.url }}" class="">
        <h3>{{ post.title | smartify }}</h3>
      </a>
      <img loading="lazy" src="{{ post.banner | default: 'https://source.unsplash.com/random'}}" alt="{{ post.title | smartify }}">
      <p>{{ post.intro | smartify }}</p>
      <ul>
        {% for tag in post.tags %}
        <li>
          <a>{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</section>
