<!doctype html>
<html lang="en">
    {% include head.liquid %}

    <body>
        {% include header.liquid %}

        <main>
            <article>
                <header class="fadeIn">
                    <div>
                        <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%B %e, %Y' }}</time>
                        <h1>{{ page.title }}</h1>
                        <ul>
                            {% for tag in page.tags %}
                                <li>
                                    <a>{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <img src="{{ page.banner | default: 'assets/images/default_banner.jpg'}}" alt="{{ page.title }}">
                </header>
                <section aria-label="Content">
                    <p class="intro">
                        {{ page.intro }}
                    </p>
                    {{ content }}
                </section>
            </article>
        </main>
    </body>
</html>
